@{
    ViewBag.Title = "About Andrew Golik";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Andrew Golik from Avon, Ohio. He is a 5th Year student studying MIS and Business Analytics. After I graduate this year, I am hoping to either work in Columbus, Ohio or Raleigh, North Carolina
    
    His favorite activities are golfing and fishing.</p>
