@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    35811 Wyndemere Way<br />
    Avon, OH 44011<br />
    <abbr title="Phone">P:</abbr>
    440.822.6214
</address>

<address>
    <strong>Email Me:</strong>   <a href="mailto:Support@example.com">ag705715@ohio.edu</a><br />
    <strong>Job Applications:</strong> <a href="mailto:Marketing@example.com">ag705715@ohio.edu</a>
</address>