@{
    ViewBag.Title = "Andrew Golik Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">This webpage serves as a liason between our 4200 class and the real world.  The examples on this page can be referenced in the future. .</p>
    <p><a href="https://www.linkedin.com/in/andrew-golik/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MVC Application</h2>
        <p>
            Here is a link to my Microsoft MVC applicantion. The tables and views can be found below by clicking the buttons
        </p>
       
        <p><a class="btn btn-default" href="http://aspnet.cob.ohio.edu/ag705715/Passengers">Passengers &raquo;</a></p>
        <p><a class="btn btn-default" href="http://aspnet.cob.ohio.edu/ag705715/Flights">Flights &raquo;</a></p>
        <p><a class="btn btn-default" href="http://aspnet.cob.ohio.edu/ag705715/FlightTracks">FlightTracks &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Internships</h2>
        <p>Last summer I did an internship with OCLC.  It was a wonderful experience and I was supposed to return there this summer but it got cancelled becuase of COVID.</p>
        <p><a class="btn btn-default" href="https://www.oclc.org/en/home.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Studies</h2>
        <p>Also, just to show the ins and outs of our OHIOCOBLMS page here is a link to that.</p>
        <p><a class="btn btn-default" href="https://ohiocoblms.azurewebsites.net/login.aspx?ReturnUrl=%2flearn%2fforum.aspx">Learn more &raquo;</a></p>
    </div>
</div>